@font-face {
    font-family: 'Player';
    src: url(fonts/PressStart2P.ttf);
}

@font-face {
    font-family: 'Stuck';
    src: url(fonts/typostuck.ttf);
}

body {
    margin-top: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#title {
    border-style: solid;
    border-color: #00ceff;
    cursor: pointer;
    display: block;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 150px;
    font-family: 'stuck';
    color: white;
}

#main {
    width: 950px;
    background-color: #000000;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

#container{
    border-style: solid;
    border-color: #00ceff;
    width: 950px;
    background-color: rgba(0, 0, 0, 0.397);
    display: table;
    margin-left: auto;
    margin-right: auto;
    
}

#slide {
    width: 950px;
}

.box {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    border-style: solid;
    border-color: #00ceff;
    margin: 10px;
    padding-bottom: 10px;
    background-color: #20b8daa8;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
}

span.jobtitle {
    display: block;
    text-align: center;
    font-size: 15px;
    padding-bottom: 5px;
    text-decoration: underline;
    color: white;
}

span.name {
    margin-top: 15px;
    font-size: 20px;
    text-decoration: underline;
    color: white;
}

.content {
    background-color: #004352;
    box-shadow: 5px 5px 0px #009bbe;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 0px 10px 10px;
    width: 670px;
}
.image {
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    border-style: solid;
    border-color: #00ceff;
    margin: 10px;
    padding-bottom: 10px;
    background-color: #004352;
    box-shadow: 5px 5px 0px #009bbe;
}

img {
    display: table;
    max-width: 200px;
    margin-top: 10px;
}

span{
    color: white;
}

.footer{
    text-align: center;
    margin-top: 10px;

}

.header {
    width: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color: #00ceff;
    color: white;
    margin-top: -5px;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
  }

a {
    color: rgb(255, 255, 255);
}