@font-face {
    font-family: 'Player';
    src: url(fonts/PressStart2P.ttf);
}

body{
    background-color: #687a7a;
    margin: auto;
    background-repeat: no-repeat;
}
.main {
    display: block;
    margin: auto;
}

.adsbygoogle {
    display: flex;
    padding-bottom: 15px;
    justify-content: center;
}

#titlediv {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #000000;
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color: #00ceff;
    color: white;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 2px 6px;
    text-align: center;
    font-weight: bold;
    cursor: default;
  }

.container{
    background-color: #424b4c;
    border-style: solid none;
    border-color: #00ceff;
    margin: 10px auto;
    padding-bottom: 10px;

}

#storiesBox {
    background-color: #2a3233;
    width: 70%;
    padding: 20px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: solid;
    border-color: #00ceff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00ceff;
}

.box{
    width: 450px;
    margin: 20px 15px;
    transition:0.5s;
    filter: none;
}


.coverImage {
    color: #00ceff;
    border-style: solid;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:5px;
    border-width: 1px;
}

.coverImage:hover {

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.boxTitle {
    margin-top: 10px;
    padding-top: 2px;
    font-family: 'Player';
    font-size: xx-large;
    display: flex;
    justify-content: center;
    color: #00ceff;
    text-shadow: 0px 2px 0px #007e9e;
    background: linear-gradient(to right, #424b4c, #424b4c, #171b1c, #424b4c, #424b4c);
}

#newsBox {
    background-color: #2a3233;
    padding: 20px;
    margin: 10px auto;
    max-width: 940px;
    display: block;
    border: solid;
    border-color: #00ceff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #00ceff;
}

.newsDiv {
    display: table;
    max-width: 940px;
    max-width: 75%;
    background-color: #ffffff;
    padding: 20px;
    margin: 5px auto;
}

.newsTitle {
    font-family: 'Player';
    font-size: 20px;
    display: inline;
    text-shadow: 0px 2px 0px #007e9e;
    margin: auto;
}

.newsText {
    font-family:'Courier New', Courier, monospace;
}

.newsImg {
    display: flex;
    justify-content: center;
    height: auto;
    max-width: 900px;
    overflow: auto;
    margin: 10px auto;
}

.box:hover{
    transform:scale(1.05);
    z-index:2;
    filter: drop-shadow(0px 0px 10px #00ceff);
    border-radius: 10px;
    cursor: pointer;
}

.footer{
    padding-bottom: 0;
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: white;
    padding: 10px 10px;
}

span.foot {
    background-color:#000000;
    padding: 10px 10px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px #00ceff;
}

a {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}
