body{
    background-color: rgb(58, 55, 54);
    margin: auto;
    padding: 0px;
}
.main {
    display: block;
    margin: auto;
}

.titlediv{
    background-color: black;
    display: flex;
    justify-content: center;
    margin: auto;
}

svg[height='0'] { position: absolute }
@property --k {
	syntax: '<number>';
	initial-value: 0;
	inherits: false;
}

span.title{
    cursor: pointer;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 150px;
    font-family: 'typostuck';
    src: url(https://file.garden/ZXENUjtcLzaPWMyp/fonts/fontstuck-extended.ttf) format('truetype'),
        url(https://file.garden/ZXENUjtcLzaPWMyp/fonts/fontstuck-extended.woff2) format('woff2');
    color: white;
    
    }

span.title:hover{
	--k: 0;
	place-self: center;
	background: linear-gradient(90deg, 
		hsl(calc(var(--k)*1turn), 95%, 65%), 
		hsl(calc(var(--k)*1turn + 90deg), 95%, 65%)) text;
	color: transparent;
	text-align: center;
	animation: k 4s linear infinite
}

@keyframes k { to { --k: 1 } }

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: -5px;
    margin-bottom: 0;
    text-align: center;
    box-shadow: 0px 10px 5px #000000;
    font-weight: bold;
  }

#container{
    width: 90%;
    padding: 20px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box{
    padding-top: 10px;
    width: 450px;
    margin: 0 10px;
    transition:0.5s;
    filter: none;
}


img {
    -webkit-filter: brightness(50%);
    border-style: solid;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

img:hover {
    -webkit-filter: brightness(100%);
    
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.box:hover{
    transform:scale(1.1);
    z-index:2;

    filter: drop-shadow(0px 0px 10px #ffc400);
    border-radius: 10px;
    cursor: pointer;
}

.footer{
    bottom: 0;
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: white;
    padding: 10px 10px;
}

span.foot {
    background-color:#000000;
    padding: 15px 15px;
    border-radius: 25px;
}

a {
    color: orange;
}

.MSPFA {
    color: red;
}

.MSPFA:visited {
    color: red;
}
.MSPA {
    color: orange;
}
.MSPA:visited {
    color: orange;
}
.MERCH {
    color: gold;
}
.MERCH:visited {
    color: gold;
}

.DONATE {
    color: olivedrab;
}
.DONATE:visited {
    color: olivedrab;
}
.NEWS {
    color: skyblue;
}
.NEWS:visited {
    color: skyblue;
}
.CREDITS {
    color: purple;
}
.CREDITS:visited {
    color: purple;
}
