@font-face {
    font-family: 'Player';
    src: url(fonts/PressStart2P.ttf);
}

@font-face {
    font-family: 'Stuck';
    src: url(fonts/typostuck.ttf);
}

body{
    background: linear-gradient(to bottom, #171b1c, #424b4c);
    background-size: cover;
    margin: auto;
}
.main {
    margin: auto;
}

.adsbygoogle {
    display: flex;
    padding-bottom: 15px;
    justify-content: center;
}

@media (min-width: 600px) {
    img#title {
        background-position: center;
        background-color: #000000;
        height: 100px;
    }
    #titlediv {
        background-color: #000000;
        display: flex;
        justify-content: center;
    }
    .header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    background-color: #007e9e;
    color: white;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 2px 6px;
    text-align: center;
    font-weight: bold;
    cursor: default;
    }
    #storiesBox {
    background-color: #171b1c;
    width: 50%;
    padding: 0px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 1px 0px 5px rgba(0, 0, 0, 0.5);
    }
    .coverImage {
    color: #00ceff;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-width: 1px;
    box-shadow:5px 5px 0px #00000071;
}

}

/*Computer*/
@media (min-width: 1024px) {
    img#title {
        background-position: center;
        background-color: #000000;
        height: fit-content;
    }
    #titlediv {
        background-color: #000000;
        display: flex;
        justify-content: center;
    }
    .header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color: #007e9e;
    color: white;
    margin-top: 0px;
    margin-bottom: 0;
    padding: 2px 6px;
    text-align: center;
    font-weight: bold;
    cursor: default;
    }
    #storiesBox {
        background-color: #171b1c;
        width: 100%;
        padding: 20px;
        margin: 10px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        box-shadow: inset 1px 0px 5px rgba(0, 0, 0, 0.5);
    }
    .coverImage {
    color: #00ceff;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-width: 1px;
    box-shadow:5px 5px 0px #00000071;
}
}

.container{
    background-color: #424b4c25;
    border-style: solid none;
    border-color: #00ceff;
    margin: 50px auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px#00ceff;

}

.box{
    width: 450px;
    margin: 20px 15px;
    transition:0.5s;
    filter: none;
}


.coverImage {
    color: #00ceff;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-width: 1px;
    box-shadow:5px 5px 0px #00000071;
}

.coverImage:hover {

    -webkit-transition: all 0.02s;
    -moz-transition: all 0.02s;
    -o-transition: all 0.02s;
    -ms-transition: all 0.02s;
    transition: all 0.02s;
    box-shadow:5px 5px 0px #00000000;
}

.boxTitle {
    margin-top: 10px;
    padding-top: 2px;
    font-family: 'Player';
    font-size: xx-large;
    display: flex;
    justify-content: center;
    color: #00ceff;
    text-shadow: 0px 2px 0px #007e9e;
    background: linear-gradient(to right, #424b4c00, #424b4c00, #171b1c, #424b4c00, #424b4c00);
}

#newsBox {
    background-color: #2a3233;
    padding: 20px;
    margin: auto;
    max-width: 940px;
    display: block;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 1.5);
}

.newsDiv {
    display: table;
    max-width: 940px;
    max-width: 75%;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
}

.more {
    color: black;
    font-family: 'Stuck';
    font-size: 20px;
}

.discord {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.more:visited {
    color: black;
}

.newsTitle {
    font-family: 'Player';
    font-size: 20px;
    display: inline;
    text-shadow: 0px 2px 0px #007e9e;
    margin: auto;
}

.newsText {
    font-family:'Courier New', Courier, monospace;
}

.newsImg {
    display: flex;
    justify-content: center;
    height: auto;
    max-width: 900px;
    overflow: auto;
    margin: 10px auto;
}

.box:hover{
    transform:scale(1.05);
    z-index:2;
    filter: drop-shadow(0px 0px 10px #00ceff);
    border-radius: 10px;
    cursor: pointer;
}

.footer{
    padding-bottom: 0;
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    color: white;
    padding: 10px 10px;
    margin-bottom: 10px;
}

span.foot {
    background-color:#000000;
    padding: 10px 10px;
    border-radius: 25px;
    box-shadow: 0px 0px 5px #00ceff;
}

a {
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(255, 255, 255);
}

a:hover {
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}
