/*=========== body and main stuff ============*/

.adsbygoogle {
  display: flex;
  justify-content: center;
}

body {
  margin-top: 0px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-image: url(https://file.garden/ZXENUjtcLzaPWMyp/website%20stuff/Glass%20Mind/glass%20mind.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main {
  width: 600px;
  max-width: 940px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color: red;
  box-shadow: 0px 0px 20px #ff0000;

}

div.titlecard {
  margin: auto;
  background-color: black;
  display: flex;
  justify-content: center;
}

/*=========== Header ============ */
.header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  background-color: rgb(0, 0, 0);
  color: white;
  margin-top: -5px;
  margin-bottom: 0;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* ================ Containters =============== */

#container {
  background-color: rgba(111, 0, 0, 0.539);
  margin-left: auto;
  margin-right: auto;
  padding: 7px 0;

}

/* ==================== Pages ======================= */

#slide {
  display: table;
  width: 600px;
  max-width: 940px;
  padding: 0 25px;
  margin: 7px auto 23px auto;
  word-wrap: break-word;
  word-break: break-word;
  background-color: #000000;
}

#command {
  text-align: center;
  font-size: xx-large;
  padding: 14px 0;
  text-shadow: 2px 2px 1px #f10000;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-family: 'custom';
    src: url(https://file.garden/ZXENUjtcLzaPWMyp/website%20stuff/Glass%20Mind/glassmind.ttf) format('truetype');
}

#content {
  text-align: center;
  margin-bottom: 14px;
  font-size: 13px;
  display: block;
  unicode-bidi: isolate;
  color: red
}

#content img:not(.spoiler img), 
#content video,
#content iframe,
#content canvas, 
#content object, 
#content ruffle-object {
  margin: 0 -25px;
  max-width: 940px;
}

#slide .spoiler img, #commentbox>.spoiler .spoiler img {
  max-width: 100%;
}

/* ============================ footers =================================*/

.logtitle {
  text-align: center;
  font-size: 30px;
  text-shadow: 1px 1px 1px rgb(255, 0, 0);
  padding: 4px 4px 4px 4px;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #fb0000;
}

.footlinks {
  font-size: 10px;
}

.foot {
  padding-bottom: 14px;
  font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}

.links {
  margin-top: 20px;
    margin-bottom: 9px;
    font-weight: normal;
    font-size: x-large;
}

#log {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  border-style: solid;
  border-width: thick;
  padding: 4px 4px 15px 15px;
  background-color: #000000;
}

.spoiler {
	border: 1px dashed gray;
	padding: 1px;
}

.spoiler>div:last-child {
	margin: 12px 5%;
	padding: 3px;
	text-align: left;
}

.spoiler.closed>div:last-child {
	display: none;
}
.spoiler {
  background-color: white;
  border: 1px dashed gray;
  padding: 1px;
}

.spoiler.closed {
  background-color: #eeeeee00;
}