/*=========== body and main stuff ============*/

body {
  margin-top: 0px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: #535353;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.adsbygoogle {
  display: flex;
  justify-content: center;
}

.main {
  width: 600px;
  max-width: 940px;
  background-color: #535353;
  display: table;
  margin-left: auto;
  margin-right: auto;

}

div.titlecard {
  margin: auto;
  background-color: black;
  display: flex;
  justify-content: center;
}

hr {
  border: none;
  border-top: 1px solid black;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*=========== Header ============ */
.header {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  background-color: #000000;
  color: white;
  margin-top: 0px;
  margin-bottom: 0;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}

.headerLink {
  color: #ffffff;
}

.headerLink:visited {
  color: #ffffff;
}

/* ================ Containters =============== */

#container {
  background-color:#c6c6c6;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 0;
}

#commentSection {
  background-color:#1d1c1c;
  margin: 10px;
  padding: 10px;
}

/* ==================== Pages ======================= */

#slide {
  display: table;
  width: 600px;
  max-width: 940px;
  padding: 0 25px;
  margin: 7px auto 23px auto;
  word-wrap: break-word;
  word-break: break-word;
  background-color: #eeeeee;
}

#command {
  text-align: center;
  font-size: xx-large;
  padding: 14px 0;
}

#content {
  text-align: center;
  margin-bottom: 14px;
  font-size: 13px;
  display: block;
  unicode-bidi: isolate;
}

div.spoiler {
  padding: 10px 10px;
}

#content img:not(.spoiler img), 
#content video,
#content iframe,
#content canvas, 
#content object, 
#content ruffle-object {
  margin: 0 -25px;
  max-width: 940px;
}

#slide .spoiler img, #commentbox>.spoiler .spoiler img {
  max-width: 100%;
}

/* ===================== COMMENTS ======================== */

form {
  display: table;
  margin: auto;
}

.formSection {
  border: 1px solid #918680;
  background-color: #615A56;
  margin: 5px;
  padding: 10px;
}

textarea {
  display: block;
  min-width: 292px;
}

.uid {
  min-width: 244px;
}

.commentSubmit {
  margin: 2px;
}

.commentBox {
  padding: 10px;
  background-color: #615A56;
  border: 1px solid #483931;
  box-shadow: 2px 2px 0px#1d1c1c3c;
  font-weight: 100;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  display: table;
  margin: 5px 5px;
}

.username {
  font-weight: bold;
  display: inline-block;
  padding-right: 5px;
  color: #ff8800;
}

.commentDate {
  display: inline-block;
  padding-right: 5px;
}

#uniqid {
  display: inline-block;
}

.id {
  text-decoration: none;
  color: black;
}

.id:hover {
  text-decoration: none;
  color: #ff8800;
}

blockquote {
margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}



/* ============================ footers =================================*/

.logtitle {
  text-align: center;
  font-size: 30px;
  color:#000000;
  background-color: #c6c6c6;
  padding: 4px 4px 4px 4px;
  margin-top: 0px;
  font-family: 'typostuck';
  src: url(https://file.garden/ZXENUjtcLzaPWMyp/fonts/typostuck.ttf);
}

.footlinks {
  font-size: 10px;
}

.foot {
  padding-bottom: 14px;
  font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}

.links {
  margin-top: 20px;
    margin-bottom: 9px;
    font-weight: normal;
    font-size: x-large;
}

#log {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  padding: 4px 4px 15px 15px;
  background-color: #eeeeee;
}

.spoiler {
	border: 1px dashed gray;
	padding: 1px;
}

.spoiler>div:last-child {
	margin: 12px 5%;
	padding: 3px;
	text-align: left;
}

.spoiler.closed>div:last-child {
	display: none;
}
.spoiler {
  background-color: white;
  border: 1px dashed gray;
  padding: 1px;
}

.spoiler.closed {
  background-color: #eeeeee00;
}