/*=========== body and main stuff ============*/

.adsbygoogle {
  display: flex;
  justify-content: center;
}

body {
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  background-color: #533d45;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main {
  width: 600px;
  max-width: 940px;
  background-color: #331723;
  display: table;
  margin-left: auto;
  margin-right: auto;

}

img.title {
  margin-top: 10px;
}

div.titlecard {
  margin: auto;
  background-color: black;
  display: flex;
  border-radius: 15px;
  justify-content: center;
}

/*=========== Header ============ */
.header {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  text-align: center;
  padding: 5px 25px;
  background-color: #000000;
}

.headSpan {
  background-color: #000000;
  color: white;
  padding: 5px 25px;

}

/* ================ Containters =============== */

#container {
  background-color: #331723;
  margin-left: auto;
  margin-right: auto;
  padding: 7px 7px;

}

/* ==================== Pages ======================= */

#slide {
  display: table;
  width: 600px;
  max-width: 940px;
  padding: 0 25px;
  margin: 7px auto 25px auto;
  word-wrap: break-word;
  word-break: break-word;
  background-color: #f3f3f3;
}

#command {
  text-align: center;
  font-size: xx-large;
  padding: 14px 0;
  color: #ff0059;
}

#content {
  text-align: center;
  margin-bottom: 14px;
  font-size: 13px;
  display: block;
  unicode-bidi: isolate;
}

#content img:not(.spoiler img), 
#content video,
#content iframe,
#content canvas, 
#content object, 
#content ruffle-object {
  margin: 0 -25px;
  max-width: 940px;
}

#slide .spoiler img, #commentbox>.spoiler .spoiler img {
  max-width: 100%;
}

/* ============================ footers =================================*/

.logtitle {
  text-align: center;
  font-size: 30px;
  text-shadow: 1px 1px 1px #ff0059;
  padding: 4px 4px 4px 4px;
  margin-bottom: 10px;
  font-family: 'Courier New', Courier, monospace;
  background-color: white;
}

#gamelinks {
  font-size: 10px;
}

.foot {
  padding-bottom: 14px;
  font-family: "Verdana", "Arial", "Helvetica", "sans-serif";
}

.links {
  margin-top: 20px;
    margin-bottom: 9px;
    font-weight: normal;
    font-size: x-large;
}

#log {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  padding: 10px 10px 15px 15px;
  background-color: white;
  color: #ff0059;
}

.spoiler {
	border: 1px dashed gray;
	padding: 1px;
}

.spoiler>div:last-child {
	margin: 12px 5%;
	padding: 3px;
	text-align: left;
}

.spoiler.closed>div:last-child {
	display: none;
}
.spoiler {
  border: 1px dashed gray;
  padding: 1px;
}

.spoiler.closed {
  background-color: #eeeeee00;
}